:root{
    --blue-reservia : #0065FC;
    --blue-background: #DEEBFF;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    
}
html {
    height: 100%;
    width: 100%;
    background-color: white;
}
body {
    width: 100%;
    height: 100%;
    background-color: white;
}
/***Header styling**/
header{
    margin: 0 auto;
    width: 93%;
    margin-bottom: 20px;
    border: 0px solid black;
}
nav{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 40px;
}

nav ul{
    display: inline-flex;
    list-style: none;

}
nav ul li{
    margin-left: 40px;
}
nav ul li a{
    text-decoration: none;
    color: var(--blue-reservia);
    font-size: 25px;
    font-weight: bold;
}
nav ul li a:hover{
    padding: 6px;
    font-size: 26px;
    color: white;
    background-color: var(--blue-reservia);
}


/*The Search menu box styling:
It is decomposed to the three follwing rows:
**search-box**
**filter**
**txt-bottom**
*/
.search-section{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 93%;
    
}

.search-menu > .search-box{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;
    width: 40%;
}

.search-menu > .filter{
    display: flex;
    align-items: center;
    
    width: 100%;
    height: auto;
}

.search-menu > .txt-bottom{
    display: flex;
    align-items: center;
    width: 100%;
    height: 20%;
 }
/* Search box styling:
All the elements of the search box 
are styled here
*/
.fas-search{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: grey;
    border-radius: 10px 0px 0px 10px;
    height: 60px;
    padding: 0px 15px;
    font-size: 20px;
}
.fas-search:hover{
    font-size: 28px;
    color:  var(--blue-reservia);
    
}
.search-field{
    display: inline-flex;
    flex: 1;
    height: 60px;
    outline: none;
    border: none;
    appearance: none;
    padding: 0px 0px 0px 15px;
    font-size: 25px;
}
.search-field:hover{
    display: inline-flex;
    flex: 1;
    height: 60px;
    outline: none;
    border: none;
    appearance: none;
    padding: 0px 0px 0px 15px;
    background-color: gainsboro;
}

.search-field::placeholder{
    
    color: black;
    font: 25px;
    font-weight: bold;
}

.submit-button{
    display: inline-flex;
    padding: 0px 15px;
    border: none;
    outline: none;
    color: white;
    background:var(--blue-reservia);
    height: 60px;
    border-radius: 0px 10px 10px 0px;
    font-size: 25px;
    font-weight: bold;
}
.submit-button:hover{
    font-size: 27px;
    box-shadow: 0px 0px 10px orangered;
}

/******The bottom text styling******/

 .txt-bottom > .fa-info{
     display: flex;
     justify-content: center;
     align-items: center;
     color: #0065FC;
     background-color: white;
     background-color: ;
     margin-right: 10px;
     width: 30px;
     height: 30px;
     border-radius: 50%;
     box-shadow: 0px 0px 5px grey;
 }




/* The filter-buttons styling
All the elements of the filter box are
styled here
*/

.filter h3{
    display: flex;
    width: auto;
    margin-right: 15px;
    margin-bottom: 15px;
    
}
.filter > .filter-buttons
{   
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    width: 80%;
}
.button{
    box-shadow: 0px 0px 15px grey;
    margin-right: 15px;
    margin-bottom: 15px;
    padding-right: 15px;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 25px;
}
.button:hover{
    box-shadow: 0px 0px 5px orange;
    background-color: var(--blue-reservia);
    color: white;
}
.fas-button{
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
    color: blue;
    margin-right: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #DEEBFF;
    font-size: 30px;
}



/* The  presentation section styling
All the elements of the  presentation sectio are
styled here
*/
.presentation{
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 0px solid red;
    margin: 0 auto;
    width: 93%;
    height: auto;
}
.presentation > .hebergement{
    border-radius: 20px;
    box-shadow: 0px 0px 15px grey;
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 66%;
    height: auto;
}

.presentation > .populaires{
    border-radius: 20px;
    box-shadow: 0px 0px 15px grey;
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 31%;
    height: auto;
}

.hebergement > .hebergement-h1{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid blue;
    width: 91%;
    height: 13%;
}
.hebergement > .heb-pres{
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 91%;
    height: 74%;
}
.hebergement > .hebergement-h3
{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid blue;
    width: 91%;
    height: 13%;
}
.heb-pres> .heb-link{
    background-color: white;
    border-radius: 24px;
    box-shadow: 0px 0px 10px grey;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
    width: 31%;
    height: 47%;
}
.heb-pres> .heb-link:hover{
    box-shadow: 0px 0px 20px orangered;
}



.heb-link > .heb{
    background-color: white;
    
    padding: 5px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.heb > .heb-img{
    display: flex;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 58%;
    object-fit: cover;
}
.heb > .heb-infos{
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 42%;
}




.populaires > .titlelogo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 82%;
    height: 8%;
}
.populaires > .hebp-pres{
    display: flex;
    background-color:gainsboro;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 82%;
    height: 80%;
}
.hebp-pres > .hebp-link{  
    border-radius: 24px;
    box-shadow: 0px 0px 15px grey;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 29%;
}
.hebp-pres> .hebp-link:hover{
    box-shadow: 0px 0px 20px orangered;
}


.hebp-link > .hebp{  
    background-color: white;
    border-radius: 24px;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.hebp > .hebp-img{ 
    border-radius: 18px 0px 0px 18px; 
    display: flex;
    flex-direction: column;
    width: 38%;
    height: 100%;
    object-fit: cover;
    
}
.hebp > .hebp-infos{  
    display: grid;
    width: 53%;
    height: 100%;
    
}
.hebp-infos > .hebp-infos-stars{
    display: flex;
    align-self: self-end;
}


.activities{
    border-radius: 20px 20px 20px 20px;
    background-color:white;
    border: 0px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 93%;
    height: auto;
    margin: 50px auto;
}
.activities h1{
    border: 0px solid black;
    display: flex;
    width: 100%;
    margin-bottom: 30px;
    height: auto;
}
.activities > .activities-presentation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.activities-presentation > .slot-link{
    border: 0px solid grey;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 0px 10px grey;
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 23%;
    height: auto;
}
.activities-presentation > .slot-link:hover{
    box-shadow: 0px 0px 20px orangered;
}
.slot-link > .slot1{
    border: 0px solid black;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.slot-link > .slot1 img{
    border: 0px solid green;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    width: 100%;
    height: 87%;
    object-fit: cover;
}
.slot-link > .slot1 > .slot1-h3{
    border: 0px solid red;
    padding-left: 10%;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 13%;
}

.activities-presentation > .slot2{
    border: 0px solid black;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 23%;
    height: auto;
}

.slot2 > .slot2-top-link{
    border: 0px solid grey;
    box-shadow: 0px 0px 10px grey;
    border-radius: 20px 20px 20px 20px;
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 53%;
}
.slot2-top-link:hover{
    box-shadow: 0px 0px 20px orangered;
}
.slot2 > .slot2-bottom-link{
    border: 0px solid blue;
    box-shadow: 0px 0px 10px grey;
    border-radius: 20px 20px 20px 20px;
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 38%;
}
.slot2-bottom-link:hover{
    box-shadow: 0px 0px 20px orangered;
}
.slot2-top-link > .slot2-top{
    border: 0px solid blue;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.slot2-bottom-link > .slot2-bottom{
    border: 0px solid blue;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.slot2-top-link > .slot2-top img{
    border: 0px solid green;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    width: 100%;
    height: 75%;
    object-fit: cover;
}
.slot2-top-link > .slot2-top > .top-h3{
    border: 0px solid red;
    padding-left: 10%;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 25%;
}
.slot2-bottom-link > .slot2-bottom img{
    border: 0px solid black;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    width: 100%;
    height: 65%;
    object-fit: cover;
}
.slot2-bottom-link > .slot2-bottom > .bottom-h3{
    border: 0px solid red;
    padding-left: 10%;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 35%;
}


.slot-link > .slot3{
    border: 0px solid black;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.slot-link > .slot3 img{
    border: 0px solid black;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    width: 100%;
    height: 87%;
    object-fit: cover;
}
.slot-link > .slot3 > .slot3-h3{
    border: 0px solid red;
    padding-left: 10%;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 13%;
}


.activities-presentation > .slot4{
    border: 0px solid red;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 23%;
    height: auto;
}

.slot4 > .slot4-top-link{
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 0px 10px grey;
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 43%;
}
.slot4-top-link:hover{
    box-shadow: 0px 0px 20px orangered;
}
.slot4 > .slot4-bottom-link{
    box-shadow: 0px 0px 10px grey;
    border-radius: 20px 20px 20px 20px;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 47%;
}
.slot4-bottom-link:hover{
    box-shadow: 0px 0px 20px orangered;
}

.slot4-top-link > .slot4-top{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}


.slot4-bottom-link > .slot4-bottom{                      
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.slot4-top-link > .slot4-top img{
    border: 0px solid black;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    width: 100%;
    height: 72%;
    object-fit: cover;
}

.slot4-top-link > .slot4-top > .top-h3{
    border: 0px solid red;
    padding-left: 10%;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 28%;
}
.slot4-bottom-link > .slot4-bottom img{
    border: 0px solid black;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    width: 100%;
    height: 74%;
    object-fit: cover;
}
.slot4-bottom-link > .slot4-bottom > .bottom-h3{
    border: 0px solid red;
    padding-left: 10%;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 26%;
}

footer{
    width: 100%;
    background-color: gainsboro;
    padding: 40px 0px 40px 0px;
}

footer > .ftr{
    
    width: 93%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0px auto;
}
.ftr h2{
    margin-bottom: 15px;
}
.ftr p{
    margin-bottom: 15px;
}

.ftr > .ftr-right{
    
    display: flex;
    flex-direction: column;
    width: 33%;
}
.ftr > .ftr-middle{
    display: flex;
    flex-direction: column;
    width: 33%;
    
}
.ftr > .ftr-left{
    display: flex;
    flex-direction: column;
    width: 34%;
}
.ftr-link{
    text-decoration: none;
    color: var(--blue-reservia);
}
.ftr-link:hover{
    color: orangered;
   text-decoration: underline orangered;
    
}


.fa-star{
    color: var(--blue-reservia);
}
.fa-star-off{
    color: gainsboro;
}



