:root{
    --blue-reservia : #0065FC;
    --blue-background: #DEEBFF;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    
}
html {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: white;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: white;
}
/***Header styling**/
header{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 93%;
    margin-bottom: 2vw;
}
nav{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

nav ul{
    display: inline-flex;
    width: auto;
    list-style: none;

}
nav ul li{
    margin-left: 2vw;
}
nav ul li a{
    text-decoration: none;
    color: var(--blue-reservia);
    font-size: 1.7vw;
    font-weight: bold;
}
nav ul li a:hover{
    font-size: 1.8vw;
    color: white;
    background-color: var(--blue-reservia);
}
nav img{
    display: flex;
    width: 11%;
}

header h1{
    display: inline-flex;
    font-size: 2.5vw;
}
header p{
    display: inline-flex;
    font-size: 1.5vw;
}

/*The Search menu box styling:
It is decomposed to the three follwing rows:
**search-box**
**filter**
**txt-bottom**
*/
.search-section{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 93%;
    margin-bottom: 3vw;
}
.search-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2vw;
    border-radius: 1vw;
    box-shadow: 0 0 0.3vw grey;
    width: 40%;
    height: 3.5vw;
}

.filter{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 1.5vw;
}

.txt-bottom{
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 1.3vw;
 }
 
 /******The bottom text styling******/
.fa-info{
    display: flex !important;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    background-color: white;
    margin-right: 0.5vw;
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 50%;
    box-shadow: 0 0 0.2vw grey;
}

/* Search box styling:
All the elements of the search box 
are styled here
*/
.fas-search{
    display: flex !important;
    justify-content: center;
    align-items: center;
    background: grey;
    border-radius: 0.5vw 0 0 0.5vw;
    padding: 0 1.3vw;
    font-size: 1.3vw;
    height: 100%;
}
.fas-search:hover{
    font-size: 1.5vw;
    color:  var(--blue-reservia);
    
}
.search-field{
    display: inline-flex;
    flex: 1;
    height: 100%;
    outline: none;
    border: none;
    appearance: none;
    padding: 0 0 0 1vw;
    
}
.search-field:hover{
    display: inline-flex;
    flex: 1;
    height: 100%;
    outline: none;
    border: none;
    appearance: none;
    padding: 0 0 0 1vw;
    background-color: gainsboro;
}

.search-field::placeholder{
    color: black;
    font-size: 1.5vw;
    font-weight: bold;
}

.submit-button{
    display: inline-flex;
    padding: 0 1vw;
    border: none;
    outline: none;
    color: white;
    background:var(--blue-reservia);
    height: 100%;
    border-radius: 0 0.5vw 0.5vw 0;
    font-size: 1.5vw;
    font-weight: bold;
}
.submit-button:hover{
    font-size: 1.5vw;
    box-shadow: 0 0 0.3vw orangered;
}


/* The filter-buttons styling
All the elements of the filter box are
styled here
*/
.filter h3{
    display: flex;
    align-items: center;
    width: auto;
    margin-right: 1.2vw;
    font-size: 1.5vw;
}
.filter-buttons
{   
    display: flex !important;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
}
.button{
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    box-shadow: 0 0 0.3vw grey;
    margin-right: 1vw;
    padding-right: 2vw;
    border-radius: 5vw;
    font-size: 1.5vw;
}
.button:hover{
    box-shadow: 0 0 0.3vw orangered;
    background-color: var(--blue-reservia);
    color: white;
}
.fas-button{
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
    color: blue;
    margin-right: 0.6vw;
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 50%;
    background-color: #DEEBFF;
    font-size: 1.5vw;
}



/* The  presentation section styling
All the elements of the  presentation sectio are
styled here
*/
.presentation{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 3.5vw;
    width: 93%;
    height: auto;
}
.hebergement{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: auto;
    border-radius: 1vw;
    box-shadow: 0 0 0.5vw grey;
    background-color: gainsboro;
}

.populaires{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 1vw;
    box-shadow: 0 0 0.5vw grey;
    margin-bottom: 2vw;
    background-color: gainsboro;
}
    
    

.hebergement-h1{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 95%;
    font-size: 1.2vw;
    margin-top: 1.5vw;
    margin-bottom: 1vw;
}
.hebergement > .heb-pres{
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 95%;
    height: 43vw;
}
.hebergement-h3
{
    display: inline-flex;
    align-items: center;
    width: 95%;
    font-size: 1.6vw;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
}
.heb-pres> .heb-link{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 31%;
    height: 45%;
    background-color: white;
    border-radius: 1vw;
    box-shadow: 0 0 0.5vw grey;
    text-decoration: none;
    color: black;
}
.heb-pres> .heb-link:hover{
    box-shadow: 0 0 0.6vw orangered;
}

.heb-link > .heb{
    background-color: white;
    padding: 0.3vw;
    border-radius: 0.8vw;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.heb > .heb-img{
    display: flex;
    border-radius: 0.6vw 0.6vw 0 0;
    width: 100%;
    height: 58%;
    object-fit: cover;
}
.heb > .heb-infos{
    padding-left: 0.8vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 42%;
}
.heb-infos h3{
    font-size: 1.5vw;
}
.heb-infos p{
    font-size: 1.3vw;
}



.populaires > .titlelogo{
    display: flex;
    width: 95%;
    margin-top: 1.5vw;
    margin-bottom: 1vw;
    font-size: 1.8vw;
}
.populaires > .hebp-pres{
    display: inline-flex;
    background-color:gainsboro;
    justify-content: space-between;
    width: 95%;
    height: 16vw;
    margin-bottom: 2vw;
}
.hebp-pres > .hebp-link{  
    border-radius: 0.8vw;
    box-shadow: 0 0 0.5vw grey;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 31%;
    height: 100%;
}
.hebp-pres> .hebp-link:hover{
    box-shadow: 0 0 0.5vw orangered;
}


.hebp-link > .hebp{  
    background-color: white;
    border-radius: 0.8vw;
    padding: 0.3vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.hebp > .hebp-img{ 
    border-radius: 0.6vw 0 0 0.6vw; 
    display: flex;
    flex-direction: column;
    width: 38%;
    height: 100%;
    object-fit: cover;
    
}
.hebp > .hebp-infos{  
    display: grid;
    flex-direction: column;
    width: 55%;
    height: 100%;
    
}
.hebp-infos h3{
    font-size: 1.5vw;
}
.hebp-infos p{
    font-size: 1.3vw;
}
.hebp-infos > .hebp-infos-stars{
    display: flex;
    align-self: flex-end;
    
}



.activities{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 93%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 2.5vw;
    border-radius: 1vw 1vw 1vw 1vw;
    background-color:white;
    
}
.activities h1{
    display: flex;
    width: 100%;
    margin-bottom: 1.5vw;
    height: auto;
}
.activities > .activities-presentation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.activities-presentation > .slot-link{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 32%;
    height: 43vw;
    border-radius: 1vw 1vw 1vw 1vw;
    box-shadow: 0 0 0.3vw grey;
    color: black;
    text-decoration: none;
}
.activities-presentation > .slot-link:hover{
    box-shadow: 0 0 0.5vw orangered;
}
.slot-link > .slot1{
    border-radius: 1vw 1vw 1vw 1vw;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.slot-link > .slot1 img{
    border-radius: 1vw 1vw 0 0;
    display: flex;
    width: 100%;
    height: 87%;
    object-fit: cover;
}
.slot-link > .slot1 > .slot1-h3{
    
    display: flex;
    align-items: center;
    width: 100%;
    height: 13%;
    padding-left: 2vw;
    border-radius: 0 0 1vw 1vw;
    font-size: 1.35vw;
}

.activities-presentation > .slot2{
    border-radius: 1vw 1vw 1vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 66%;
    height: 43vw;
    margin-bottom: 1.5vw;
}

.slot2 > .slot2-top-link{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 49%;
    height: 100%;
    box-shadow: 0 0 0.5vw grey;
    border-radius: 1vw 1vw 1vw 1vw;
    color: black;
    text-decoration: none;
}
.slot2-top-link:hover{
    box-shadow: 0 0 0.5vw orangered;
}
.slot2 > .slot2-bottom-link{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 49%;
    height: 100%;
    box-shadow: 0 0 0.5vw grey;
    border-radius: 1vw 1vw 1vw 1vw;
    color: black;
    text-decoration: none;
}
.slot2-bottom-link:hover{
    box-shadow: 0 0 0.5vw orangered;
}
.slot2-top-link > .slot2-top{
    border-radius: 1vw 1vw 1vw 1vw;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.slot2-bottom-link > .slot2-bottom{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 1vw 1vw 1vw 1vw;
}
.slot2-top-link > .slot2-top img{
    border-radius: 1vw 1vw 0 0;
    display: flex;
    width: 100%;
    height: 87%;
    object-fit: cover;
}
.slot2-top-link > .slot2-top > .top-h3{
    display: flex;
    align-items: center;
    width: 100%;
    height: 13%;
    padding-left: 2vw;
    border-radius: 0 0 1vw 1vw;
    font-size: 1.35vw;
}
.slot2-bottom-link > .slot2-bottom img{
    border-radius: 1vw 1vw 0 0;
    display: flex;
    width: 100%;
    height: 87%;
    object-fit: cover;
}
.slot2-bottom-link > .slot2-bottom > .bottom-h3{
    display: flex;
    align-items: center;
    width: 100%;
    height: 13%;
    padding-left: 2vw;
    border-radius: 0 0 1vw 1vw;
    font-size: 1.35vw;
}


.slot-link > .slot3{ 
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 1vw 1vw 1vw 1vw;
}
.slot-link > .slot3 img{
    border-radius: 1vw 1vw 0 0;
    display: flex;
    width: 100%;
    height: 87%;
    object-fit: cover;
}
.slot-link > .slot3 > .slot3-h3{
    display: flex;
    align-items: center;
    width: 100%;
    height: 13%;
    padding-left: 2vw;
    border-radius: 0 0 1vw 1vw;
    font-size: 1.35vw;
}


.activities-presentation > .slot4{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 66%;
    height: 43vw;
    border-radius: 1vw 1vw 1vw 1vw;
}

.slot4 > .slot4-top-link{
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 49%;
    height: 100%;
    border-radius: 1vw;
    box-shadow: 0 0 0.5vw grey;
}
.slot4-top-link:hover{
    box-shadow: 0 0 0.5vw orangered;
}
.slot4 > .slot4-bottom-link{
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 49%;
    height: 100%;
    box-shadow: 0 0 0.5vw grey;
    border-radius: 1vw;
}
.slot4-bottom-link:hover{
    box-shadow: 0 0 0.5vw orangered;
}

.slot4-top-link > .slot4-top{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}


.slot4-bottom-link > .slot4-bottom{                      
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.slot4-top-link > .slot4-top img{
    border-radius: 1vw 1vw 0 0;
    display: flex;
    width: 100%;
    height: 87%;
    object-fit: cover;
}

.slot4-top-link > .slot4-top > .top-h3{
    display: flex;
    align-items: center;
    width: 100%;
    height: 13%;
    padding-left: 2vw;
    border-radius: 0 0 1vw 1vw;
    font-size: 1.35vw;
}
.slot4-bottom-link > .slot4-bottom img{
    border-radius: 1vw 1vw 0 0;
    display: flex;
    width: 100%;
    height: 87%;
    object-fit: cover;
}
.slot4-bottom-link > .slot4-bottom > .bottom-h3{
    display: flex;
    align-items: center;
    width: 100%;
    height: 13%;
    padding-left: 2vw;
    border-radius: 0 0 1vw 1vw;
    font-size: 1.35vw;
}

footer{
    width: 100%;
    background-color: gainsboro;
    padding: 2vw 0 2vw 0;
}

footer > .ftr{
    display: flex;
    width: 93%;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 auto;
}
.ftr h2{
    margin-bottom: 1vw;
    font-size: 2.3vw;
}
.ftr p{
    margin-bottom: 1vw;
    font-size: 1.5vw;
}

.ftr > .ftr-right{
    display: flex;
    flex-direction: column;
    width: 33%;
}
.ftr > .ftr-middle{
    display: flex;
    flex-direction: column;
    width: 33%;
    
}
.ftr > .ftr-left{
    display: flex;
    flex-direction: column;
    width: 34%;
}
.ftr-link{
    text-decoration: none;
    color: var(--blue-reservia);
}
.ftr-link:hover{
    color: orangered;
    text-decoration: underline orangered;
}

.fa-star{
    color: var(--blue-reservia);
}
.fa-star-off{
    color: gainsboro;
}



