/*link to google fonts used*/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', cursive;
  /*font-family: 'Roboto', sans-serif;*/
}

/*list of all variables used*/
/*Color section*/
/*Spacing section*/
/*animation timings section*/
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

html {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 88vw;
}

.header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  margin-left: 6vw;
  margin-top: 5vw;
  position: absolute;
}

.header__link i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  color: black;
  font-size: 6vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__link i:hover {
  color: #9356DC;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4vw auto;
  width: 48%;
  position: relative;
  top: 0;
  left: 0;
}

.header__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 90%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

@-webkit-keyframes loading {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes loading {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: gainsboro;
  border-radius: 12vw 12vw 0 0;
  padding-top: 8vw;
  margin-top: -14vw;
}

.list__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 13vw;
  border: none;
  border-radius: 12vw;
  font-size: 4.5vw;
  font-weight: bold;
  color: white;
  background: linear-gradient(150deg, blue, pink);
  margin-top: 10vw;
  margin-bottom: 22vw;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

.list__button:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.list__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 92%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list__title h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Shrikhand', sans-serif;
  font-size: 7.3vw;
  padding-left: 2.5vw;
}

.list__title i {
  font-size: 7.3vw;
  margin-right: 4.5vw;
}

.list__title i:hover {
  color: #9356DC;
}

.list__entrees {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 92%;
  background-color: gainsboro;
  padding-top: 7.5vw;
}

.list__entrees h2 {
  font-size: 4.5vw;
  color: grey;
  padding-bottom: 5.8vw;
}

.list__entrees--topic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 18.4vw;
  margin-bottom: 3.5vw;
  background-color: white;
  border-radius: 4vw;
  overflow: hidden;
  -webkit-animation: loading 0.3s linear 1;
          animation: loading 0.3s linear 1;
}

.list__entrees--topic:nth-child(n+1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  height: 18.4vw;
}

.list__entrees--topic:nth-child(n+2) {
  -webkit-animation-delay: 0.13s;
          animation-delay: 0.13s;
  height: 18.4vw;
}

.list__entrees--topic:nth-child(n+3) {
  -webkit-animation-delay: 0.26s;
          animation-delay: 0.26s;
  height: 18.4vw;
}

.list__entrees--topic:hover .list__entrees--topic--presentation {
  width: 65%;
}

.list__entrees--topic:hover .list__entrees--topic--price {
  width: 35%;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.list__entrees--topic:hover .list__entrees--topic--price span {
  width: 25%;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.list__entrees--topic:hover .list__entrees--topic--price .list__entrees--topic--price--back {
  width: 75%;
  background-color: #32de84;
}

.list__entrees--topic:hover .list__entrees--topic--price .list__entrees--topic--price--back i {
  color: white;
  background-color: #32de84;
  -webkit-transform: rotate(0deg) scale(1);
          transform: rotate(0deg) scale(1);
}

.list__entrees--topic--presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 3vw;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 80%;
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}

.list__entrees--topic--presentation h3 {
  font-size: 5vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list__entrees--topic--presentation p {
  font-size: 4vw;
  color: gray;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list__entrees--topic--price {
  border-radius: 0 4vw 4vw 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 3vw;
  width: 30%;
  color: black;
  width: 20%;
  height: 18.4vw;
  font-weight: bold;
  -webkit-transform: translateX(76%);
          transform: translateX(76%);
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}

.list__entrees--topic--price span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 90%;
  height: 18.4vw;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 3vw;
  font-size: 4vw;
  -webkit-transform: translateX(-70%);
          transform: translateX(-70%);
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}

.list__entrees--topic--price--back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 18.4vw;
  background-color: #32de84;
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}

.list__entrees--topic--price--back i {
  font-size: 8vw;
  color: #32de84;
  background: transparent;
  -webkit-transform: rotate(-1500deg) scale(0.25);
          transform: rotate(-1500deg) scale(0.25);
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}

.list__plats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 92%;
  background-color: gainsboro;
  padding-top: 7.5vw;
}

.list__plats h2 {
  font-size: 4.5vw;
  color: grey;
  padding-bottom: 5.8vw;
}

.list__plats--topic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 18.4vw;
  margin-bottom: 3.5vw;
  background-color: white;
  border-radius: 4vw;
  overflow: hidden;
  -webkit-animation: loading 0.3s linear 1;
          animation: loading 0.3s linear 1;
}

.list__plats--topic:nth-child(n+1) {
  -webkit-animation-delay: 0.36s;
          animation-delay: 0.36s;
}

.list__plats--topic:nth-child(n+2) {
  -webkit-animation-delay: 0.49s;
          animation-delay: 0.49s;
}

.list__plats--topic:nth-child(n+3) {
  -webkit-animation-delay: 0.62s;
          animation-delay: 0.62s;
}

.list__plats--topic:hover .list__plats--topic--presentation {
  width: 65%;
}

.list__plats--topic:hover .list__plats--topic--price {
  width: 35%;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.list__plats--topic:hover .list__plats--topic--price span {
  width: 25%;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.list__plats--topic:hover .list__plats--topic--price .list__plats--topic--price--back {
  width: 75%;
  background-color: #32de84;
}

.list__plats--topic:hover .list__plats--topic--price .list__plats--topic--price--back i {
  color: white;
  background-color: #32de84;
  -webkit-transform: rotate(0deg) scale(1);
          transform: rotate(0deg) scale(1);
}

.list__plats--topic--presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 3vw;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 80%;
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}

.list__plats--topic--presentation h3 {
  font-size: 5vw;
  margin-bottom: 0.8vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list__plats--topic--presentation p {
  font-size: 4vw;
  color: gray;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list__plats--topic--price {
  border-radius: 0 4vw 4vw 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 3vw;
  width: 30%;
  color: black;
  width: 20%;
  height: 18.4vw;
  font-weight: bold;
  -webkit-transform: translateX(76%);
          transform: translateX(76%);
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}

.list__plats--topic--price span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 90%;
  height: 18.4vw;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 3vw;
  font-size: 4vw;
  -webkit-transform: translateX(-70%);
          transform: translateX(-70%);
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}

.list__plats--topic--price--back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 18.4vw;
  background-color: #32de84;
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}

.list__plats--topic--price--back i {
  font-size: 9vw;
  color: #32de84;
  background: transparent;
  -webkit-transform: rotate(-1300deg) scale(1);
          transform: rotate(-1300deg) scale(1);
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}

.list__desserts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 92%;
  background-color: gainsboro;
  padding-top: 7.5vw;
}

.list__desserts h2 {
  font-size: 4.5vw;
  color: grey;
  padding-bottom: 5.8vw;
}

.list__desserts--topic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 18.4vw;
  margin-bottom: 3.5vw;
  background-color: white;
  border-radius: 4vw;
  overflow: hidden;
  -webkit-animation: loading 0.3s linear 1;
          animation: loading 0.3s linear 1;
}

.list__desserts--topic:nth-child(n+1) {
  -webkit-animation-delay: 0.72s;
          animation-delay: 0.72s;
}

.list__desserts--topic:nth-child(n+2) {
  -webkit-animation-delay: 0.85s;
          animation-delay: 0.85s;
}

.list__desserts--topic:nth-child(n+3) {
  -webkit-animation-delay: 0.98s;
          animation-delay: 0.98s;
}

.list__desserts--topic:hover .list__desserts--topic--presentation {
  width: 65%;
}

.list__desserts--topic:hover .list__desserts--topic--price {
  width: 35%;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.list__desserts--topic:hover .list__desserts--topic--price span {
  width: 25%;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.list__desserts--topic:hover .list__desserts--topic--price .list__desserts--topic--price--back {
  width: 75%;
  background-color: #32de84;
}

.list__desserts--topic:hover .list__desserts--topic--price .list__desserts--topic--price--back i {
  color: white;
  background-color: #32de84;
  -webkit-transform: rotate(0deg) scale(1);
          transform: rotate(0deg) scale(1);
}

.list__desserts--topic--presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 3vw;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 80%;
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}

.list__desserts--topic--presentation h3 {
  font-size: 5vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list__desserts--topic--presentation p {
  font-size: 4vw;
  color: gray;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list__desserts--topic--price {
  border-radius: 0 4vw 4vw 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 3vw;
  width: 30%;
  color: black;
  width: 20%;
  height: 18.4vw;
  font-weight: bold;
  -webkit-transform: translateX(76%);
          transform: translateX(76%);
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}

.list__desserts--topic--price span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 90%;
  height: 18.4vw;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 3vw;
  font-size: 4vw;
  -webkit-transform: translateX(-70%);
          transform: translateX(-70%);
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}

.list__desserts--topic--price--back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 18.4vw;
  background-color: #32de84;
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}

.list__desserts--topic--price--back i {
  font-size: 8vw;
  color: #32de84;
  background: transparent;
  -webkit-transform: rotate(-1500deg) scale(0.25);
          transform: rotate(-1500deg) scale(0.25);
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: #000000;
  padding: 5vw 5vw;
}

.footer h1 {
  color: white;
  font-size: 5.5vw;
  margin-bottom: 5vw;
  font-family: 'Shrikhand', sans-serif;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 92%;
}

.footer__list--link {
  text-decoration: none;
  color: white;
  margin-bottom: 2vw;
  font-size: 4.5vw;
}

.footer__list--link i {
  padding-right: 3vw;
}
/*# sourceMappingURL=main1.css.map */